@media (min-width: 576px){
    .container {
        max-width: 100%;
    }
}

@media (min-width: 768px){
    .container {
        max-width: 100%;
    }
}

@media (min-width: 1280px){
    .container {
        max-width: 1280px;
    }
}

.paddingTop2rem{
    padding-top:2rem;
}

.searchBox{
    max-width: 40rem;
    width: 100%;
}

.searchBox>input {
    /* max-width: 20rem; */
    width: 20rem;
    -webkit-transition: width 0.30s linear 0s;
    -moz-transition: width 0.30s linear 0s;
    -ms-transition: width 0.30s linear 0s;
    -o-transition: width 0.30s linear 0s;
    transition: width 0.30s linear 0s;
}
.searchBox>input:focus {
    /* max-width: 100%; */
    width: 100%;
}

.resultCard{
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-bottom: 1px solid #6666661a;
    transition-delay: 0.2s;
    transition-property: box-shadow;
    transition-duration: 0.3s;
}

.resultCard:hover{
    box-shadow: 1px 1px 4px 0px #888888;
}

.summary{
    line-height: normal;
}

.parameterBox{
    border: 1px solid #9999995a;
    border-radius: 3px;
    padding: 1px 4px;
    font-size: 0.8rem;
    color: #333333;
    background: aliceblue;
    margin-right: 1vw;
}

.resultContainer{
    margin-top: 2vh;
}