
<div class="appContainer appBackground">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation">
    <div class="container nomargin">
      <img src="../assets/TechNiSan.png" class="logo">
      <!-- <a class="navbar-brand" routerLink="#">TechNi San</a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navbar-right" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <!-- <a class="nav-item nav-link active" routerLink="/page1">Page 1 <span class="sr-only">(current)</span></a> -->
        </div>
      </div>
    </div>
  </nav>
  <div class="container nopadding">
    <router-outlet></router-outlet>
  </div>
</div>