<!-- <div class="container"> -->
  <div class="contentCenter topPadding">
      <img src="../assets/Logo_ND.svg" class="logo contentCenter">
  </div>
  <div class="contentCenter topPadding2rem">
      <h3>LOOKING FOR HELP ?</h3>
    </div>
    <div class="contentCenter">
        <h5>Start your search here.</h5>
      </div>
  
  <div class="input-group searchBox contentCenter topPadding2rem">
      <input type="search" class="form-control" placeholder="Search" name="search" [value]="resultsService.searchText" (search)="findResults()" #searchText>
  </div>
  <div class="">

  </div>
<!-- </div> -->