<!-- <div class="container"> -->
  <div class="contentCenter topPadding">
      <img src="../assets/Logo_ND.svg" class="logo contentCenter">
  </div>
  <div class="contentCenter topPadding2rem">
    <h4>Need help? Find the right solution.</h4>
      <!-- <br>
    <h4>Find the right person</h4> -->
  </div>
  <!-- <div class="contentCenter">
      <h4>Need help?</h4>
        <br>
      <h4>Find the right solution.</h4>
    </div> -->
  <div class="input-group searchBox contentCenter topPadding2rem">
      <input type="search" class="form-control" placeholder="Search" name="search" [value]="resultsService.searchText" (search)="findResults()" #searchText>
  </div>
  <div class="">

  </div>
<!-- </div> -->